.Footer {
  width: 100%;
  height: 100vh;
  background-color: #222520;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 600px) {
    height: 240vh;

    justify-content: end;
    align-items: center;
  }
}

.Seventy {
  width: 95%;
  height: 85%;
  display: flex;
  align-items: end;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    height: 62%;

    justify-content: start;
    align-items: start;
  }

  .Footer_Logo {
    width: 70%;
    height: 90%;
    display: flex;
    background-color: #222520;
    flex-direction: column;

    @media (max-width: 600px) {
      width: 80%;
      height: 100%;
      gap: 5%;
    }

    .Blod {
      width: 30%;
      height: 10%;

      @media (max-width: 600px) {
        width: 90%;
        height: 6%;
      }
    }

    .Footer_Text1 {
      width: 90%;
      height: 90%;
      background-color: #222520;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        width: 90%;
        height: 80%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #ffffff;
        font-size: 1.2rem;

        @media (max-width: 600px) {
          justify-content: start;
          height: 20%;
          gap: 15%;
          padding-bottom: 10%;
        }
      }

      @media (max-width: 600px) {
        flex-direction: column;
        height: 100%;

        .Frame {
          width: 100%;
        }
      }
    }
  }
}

.Footer_Text {
  width: 30%;
  height: 90%;
  display: flex;

  @media (max-width: 600px) {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  align-items: center;
  .Donate {
    width: 150px;
    height: 60px;
  }

  .Footer_Text2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #ffffff;

    @media (max-width: 600px) {
      height: 80%;
      width: 100%;

      display: flex;
      flex-direction: column-reverse;
      align-items: start;
    }

    .Footer_Text3 {
      width: 100%;
      height: 90%;
      justify-content: center;
      align-items: start;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 2rem;
        font-weight: 500;
        @media (max-width: 600px) {
          padding-bottom: 10px;
          font-size: 1.6rem;
        }
      }

      img {
        padding-top: 10%;
        @media (max-width: 600px) {
          display: none;
        }
      }

      @media (max-width: 600px) {
        display: flex;
      }
    }
  }
}

.Thirty {
  width: 95%;
  height: 24%;
  background-color: #222520;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  font-weight: 200;

  .Bop {
    width: 85%;
    font-size: 1.05rem;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .Dem {
    display: none;
    @media (max-width: 600px) {
      display: flex;
    }
  }

  img {
    width: 15%;
    height: 20%;
  }

  @media (max-width: 600px) {
    height: 4%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;

    img {
      width: 65%;
      height: 30%;
    }
  }
}
