.hero_container{
    background-color: #FAF7F0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    border-bottom: 2px solid black;
}

.hero_section{
    width: 98%;
    height: auto;
    /* display: grid; */
    padding-left: 30px;
    /* justify-content: center; */
    /* align-items: center; */

    .hero_section_text{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 30px;
        padding-top: 30px;
        
         p{
        color: #655B5B;
        font-size: 16px;
    }

    h6{
        font-size: 22px;
    }
}

.hero_section_cards{
    width: 100%;
    height: auto;
     display: flex;
     
     flex-wrap: wrap; 
        /* display: grid; */

    justify-content: flex-start;



    .hero_section_cards_card{
      width: 420px;
      height: 310px;
       background-color: white;
       border: 1px solid #f0e9e9;
       margin: 25px;
     

       .hero_section_cards_card_image{
        width: 100%;
        height: 130px;
        background-color: #F8EED3;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1.8px solid #dbd1d1;

         img{
            width: 60px;
            height: 65px;
            object-fit: cover;
        }

       }
         .hero_section_cards_card_text{
          width: 100%;
          height: 130px;
          display: flex;
          flex-direction: column;
          padding: 8px;
          gap: 10px;
    
            h2{
                font-size: 20px;
            }
    
            p{
                font-size: 15px;
                color: #655B5B;
            }
         }

         .hero_section_cards_card_button{
            width: 95px;
            height: 28px;
            background-color: #007888;
            color: white;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 14px;
         }
    }
}

 @media (max-width: 480px) {
.hero_section_cards_card {
        width: 100%; /* Make cards take full width */
        margin: 15px 0; /* Add vertical spacing between cards */
        height: auto;
    }
    .hero_section_text p {
        font-size: 12px;
    }

    .hero_section_text h6 {
        font-size: 16px;
    }

    .hero_section_cards_card_text h2 {
        font-size: 10px;
    }

    .hero_section_cards_card_text p {
        font-size: 12px;
        color: #5f5353; 
    }
}  
}